body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: skyblue;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    overflow: hidden;
    background-image: url('fb-game-background.png');
    background-size: cover;
}

.bird {
    position: absolute;
    width: 45px;
    height: 35px;
    background-image: url('flappy-bird.png');
    background-size: cover;
    left: 50px;
    bottom: 300px;
}

.ground {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('bottom-background.png');
    bottom: 0;
}
